{% extends 'base.html' %}

{% block header %}
  <h1>Edit Post</h1>
  <img src="{{url_for('static', filename='images/' + post['image'])}}">
{% endblock %}

{% block content %}
  <form method="post">
    <label for="body">Text</label>
      <textarea name="body" id="body">{{ request.form['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('upload.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
  <a class="action" href="{{ url_for('upload.index') }}">Cancel</a>
{% endblock %}
